*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
.section1 {
         font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
    
    
        background-image: linear-gradient(to right, red, rgb(105, 10, 10));
        display:flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        
    
}

.section2 {
         font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
        background-color: rgb(216, 100, 36);
        text-align: center;
        
        justify-content: center;
        flex-direction:column;
        align-items: center;
    
        
        
}

.map-container iframe { 
    width:90%;
    max-width: 600px;
    border:0;
    display: grid;


}




.section3 {
         font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
        background-color: rgb(243,228,187);
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        height: 350px;
}

.pictures {
        position: relative;
        width:500px;
        height: 300px
}
.burger {
        position:relative;
        left: 30%;
        z-index:3;
        height :auto;
        max-width:100%;

}

.detail  {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 1px ;
        top: 0%;
}
.detail2 {
        position: absolute;
        width:70px ;
        height:70px ;
        right: 1%;
        bottom: 63%;
        transform: scaleX(-1);
        top:72%;
        right: 19%;
        rotate: 17deg;

}

